<!-- در فایل admin_scores.html -->
{% extends "base.html" %}

{% block content %}
<h2>امتیازها</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>نام کاربری</th>
            <th>ایمیل</th>
            <th>امتیاز</th>
            <th>تاریخ و زمان</th>
        </tr>
    </thead>
    <tbody>
        {% for score in scores %}
        <tr>
            <td>{{ score.user.username }}</td>
            <td>{{ score.user.email }}</td>
            <td>{{ score.score }}</td>
            <td>{{ score.timestamp }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
