{% extends "base.html" %}

{% block content %}
<h2>بازی‌های تکمیل شده</h2>
<table class="table table-striped mt-4">
    <thead>
        <tr>
            <th>نام کاربری</th>
            <th>ایمیل</th>
            <th>امتیاز</th>
            <th>عملیات</th>
        </tr>
    </thead>
    <tbody>
        {% for game in completed_games %}
        <tr>
            <td>{{ game.player.username }}</td>
            <td>{{ game.player.email }}</td>
            <td>{{ game.score }}</td>
            <td>
                <a href="{{ url_for('main.game_details', game_id=game.id) }}" class="btn btn-primary">جزئیات</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
