{% extends "base.html" %}

{% block content %}
<h2>بازی‌های تکمیل شده</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>نام کاربری</th>
            <th>ایمیل</th>
            <th>امتیاز</th>
        </tr>
    </thead>
    <tbody>
        {% for game in completed_games %}
        <tr>
            <td>{{ game.player.username }}</td>
            <td>{{ game.player.email }}</td>
            <td>{{ game.score }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
