{% extends "base.html" %}

{% block content %}
    <h2>جزئیات بازی</h2>
    <a href="{{ url_for('admin.export_game_details', game_id=game_data.id) }}" class="btn btn-success mb-4">دانلود خروجی
        اکسل</a>
    <p>کاربر: {{ game_data.player.username }}</p>
    <p>ایمیل: {{ game_data.player.email }}</p>
    <p>امتیاز: {{ game_data.score }}</p>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>سوال</th>
                <th>پاسخ داده شده</th>
                <th>پاسخ صحیح</th>
                <th>تاس</th>
                <th>امتیاز ثبت شده</th>
                <th>درست/نادرست</th>
            </tr>
            </thead>
            <tbody>
            {% for answered_question in answered_questions %}
                <tr>
                    <td>{{ answered_question.question_text }}</td>
                    <td>{{ answered_question.selected_answer }}</td>
                    <td>{{ answered_question.correct_answer }}</td>
                    <td>{{ answered_question.dice_roll }}</td>
                    <td>{{ answered_question.answer_score }}</td>
                    <td>
                        {% if answered_question.answered_correctly %}
                            درست
                        {% else %}
                            نادرست
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
